@tailwind base;
@tailwind components;
@tailwind utilities;


.rc-time-picker-input{
    /* background-color: #f9f9f9 !important;
    border-color: #f9f9f9 !important;
    color: #5e6278 !important;
    transition: color 0.2s ease !important;
    min-height: calc(1.5em + 1.65rem + 2px) !important;
    padding: 0.825rem 1.5rem !important;
    font-size: 1.15rem !important;
    border-radius: 0.85rem !important; */

}
/* .css-13cymwt-control{
    background-color: black !important;
} */


.my-react-crop {
    /* width: 300px !important;
    height: 300px !important; */
  }
  